#text1 {
    font-size: 30px;
}

.col-md-6{
    margin-left: 20px;
}
.mb-3{
    margin-left: 1%;

}

#emailbutton{
    margin-left: 1%;
}
.image-text-container {
    display: flex;
    align-items: center;
  }
  
#email{
    margin-right: 70%;
}
#question{
    margin-right: 40%;
}
#carrd {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
.center {
    text-align: center;
  }
.cart{
    text-align: center;
}
.carttext{
    text-align: center;
}
